# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Exclude from git archive (Asset Library download)
/build_staging/ export-ignore
nexus_importer-*.zip export-ignore
/scripts/ export-ignore